@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    margin-top: 5rem;
    background-color: whitesmoke;
}

footer{
    width: 100%;
    height: 10rem;
    margin-top: 10rem;
    padding: none;
    background-color:#023047 ;
}

header{
    margin-left: 9%;
    margin-right: 9%;
    width: 55%;
    margin-bottom: 5rem;
}

.todo{
    margin-left: 9%;
    margin-right: 9%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
}
.contenedor{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
    margin-bottom: 2rem;
  }
  .contenedor iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /*.contenedor{
      height: 0;
      overflow: hidden;
      padding-bottom: 56.25%;
      padding-top: 30px;
      position: relative;
  }
  .contenedor iframe{
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
  }*/

  .boton {
      text-decoration: none;
      margin-top: 2rem;
      display: block;
      width: 10rem;
      height: 2rem;
      text-align: center;
      padding-top: 1rem;
      padding-bottom: 0.5rem;
      margin: auto;
      background-color: #023047;
      border: 0.1rem solid #023047;
      color: honeydew;
      font-weight: 700;
      transition: 1s;
      -webkit-transition: 1s;
      -o-transition: 1s;
      -moz-transition: 1s;
      -ms-transition: 1s;

  }

  .boton:hover{
    background-color: honeydew;
    color: #FC8500;
    border: 0.2em solid #FC8500;
    ;

  }
  

  h1{
      font-size: 3.5rem;
      font-weight: 800;
      color: #FC8500;
      margin: 2.8rem 0 0.2rem 0;
      
  }

  h2{
      font-weight: 700;
      font-size: 1.3rem;
      color: #15213b;
  }
  h3{
     font-size: 1.5rem;
     font-weight: 800;
     color: #023047;
     margin: 5px;
    }

  p{
     /* font-family: 'Lustria';*/
      font-size: 16px;
      color: #15213b;
  }

  header p{
      font-size: 1.2rem;
      margin: 2.8rem 0 0 0;
  }


  .text{
      margin-bottom: 2.5rem;

  }

  @media screen and (max-width: 768px) {
    header{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }

    .todo{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

  }

  @media screen and (max-width: 360px) {
      h1{
          font-size: 2rem;
      }

      header p{
        font-size: 1rem;
    }

    p{
        font-size: 14px;
    }
  }
 /* @font-face {
    font-family: 'Lustria';
    font-style: normal;
    font-weight: 400;
    src: local('Lustria'), local('Lustria-Regular'), url(https://fonts.gstatic.com/s/lustria/v7/9oRONYodvDEyjuhOnC8zMw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }*/